// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sheet-orange {
  background-color: orange;
  
}

.sheet-gray {
  background-color: gray;
  color:black;
}
