  <%= render partial: 'layouts/flash' %>
  <h1 class="form-title">座席表</h1>
  <div class="form-main">
  <table>
  <tr>
    |.|.|スクリーン|.|.|
    <br>
  </tr>
  <tr>
    |:-:|:-:|:-:|:-:|:-:|
    <br>
  </tr>
  <% count = 1%>
  <% i = 0 %>
  <%# binding.pry %>
  <%@sheets.each do |sheet|%>
    <% if count != @count + 1 %>
      <tr>
        <% if i ==  @reservations.count %>
          <% i -= 1 %>
        <% end %>
        <% if @reservations[i].sheet_id == count %>
          <%= link_to("#{sheet.row}-#{sheet.column}",new_movie_schedule_reservation_path(date:@date, movie_id:@movie_id,sheet_id:sheet.id,schedule_id:@schedule_id),class: "sheet-orange")%>&nbsp;
          <% i += 1%>
        <% else %>
          <span class="sheet-gray"><%= "#{sheet.row}-#{sheet.column}" %></span>&nbsp;
        <% end %>
      </tr>
      <% if count %5 == 0 %>
        <br>
      <% end %>
      <% count += 1%>
    <% end %>
  <% end %>
  </table>
  </div>