<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>座席表</title>
</head>
<body>
  <%= render partial: 'layouts/flash' %>
  <h1 class="form-title">映画詳細</h1>
  <div class="form-main">
  <table>
  <tr>
    |.|.|スクリーン|.|.|
    <br>
  </tr>
  <tr>
    |:-:|:-:|:-:|:-:|:-:|
    <br>
  </tr>
  <% count = 1%>
  <%@sheets.each do |sheet|%>
    <% if count != @count + 1 %>
      <tr>
        <%= link_to("#{sheet.row}-#{sheet.column}","/movies/1/schedules/1/reservations/new")%>&nbsp;
      </tr>
      <% if count %5 == 0 %>
        <br>
      <% end %>
      <% count += 1%>
    <% end %>
  <% end %>
  </table>
  </div>
</body>
</html>